<div class="container">
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert">
            <%- messages.success %>
        </div>
        <% } %>
            <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%- messages.error %>
                </div>
                <% } %>

                    <% if(Contactus){ %>
                        <h2 class="text-center mt-3">Contact us Management</h2>
                        <div class="card bg-light text-dark mt-3">
						<h6>Contact us</h6>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <b> Title: </b>
                                    <%=Contactus.title%>
                                </h5>
                                <p class="card-text">
                                    <b>Description:</b>
                                    <%-Contactus.description%>
                                </p>
                            </div>
                        </div>
                        <% } %>
</div>