<div class="container">
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert">
            <%- messages.success %>
        </div>
        <% } %>

            <!-- error display -->
            <% if (messages.error) { %>
                <% if(Array.isArray(messages.error)) { messages.error.map((error,i)=>{%>
                    <div class="alert alert-danger mt-3">
                        <%= error%>
                    </div>
                    <% })} else{ %>
                        <div class="alert alert-danger mt-3">
                            <%= messages.error%>
                        </div>
                        <% } %>
                            <% } %>

                                <!-- error display ended  -->

                                <!-- Login form start -->
                                <div class="row justify-content-center mt-5">
                                    <!-- Form to added new content -->
                                    <div class="col-6 jumbotron">
                                        <form name="loginForm" action="/user/auth/login" method="post"
                                            onsubmit="return validateLogin()">
                                            <div class="form-group">
                                                <label for="email"><b>Email</b></label>
                                                <input type="text" class="form-control" id="email" name='email'>
                                            </div>
                                            <div class="form-group">
                                                <label for="password"><b>Password</b></label>
                                                <input type="password" class="form-control" id="password"
                                                    name='password'>
                                            </div>
                                            <button type="submit" class="btn btn-primary">login</button>
                                            <a href="/user/forgetpassword/" class="link-primary">Forget password</a>
                                        </form>
                                    </div>
                                    <!-- form end -->
                                </div>
                                <!-- Login form end -->
</div>





<script>

    // javascript function to validate form data
    function validateLogin() {

        let emailPattern = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
        let passwordPattern = /^[ A-Za-z0-9_.\/,<>]*$/
        let email = document.forms["loginForm"]["email"].value;
        let password = document.forms["loginForm"]["password"].value;
        // getData returns latest value of textarea 

        if (email == "") {
            alert("Email must be filled out");
            return false;
        }
        if (email.match(emailPattern) == null) {
            alert("Please enter valid email only");
            return false;
        }
        if (password == "") {
            alert("Password must be filled out");
            return false;
        }
        if (password.match(passwordPattern) == null) {
            alert("Please enter alphanumeric password only");
            return false;
        }
        return true
    }
</script>