<div class="container">
    <h2><%= module_title %></h2>
    <%- include('partials/NavBar.ejs') %>
        <div class="row justify-center mt-5">
            <div class="col align-self-center">
                <div class="alert alert-danger text-center " role="alert">
                    <%= message%>
                </div>
            </div>
        </div>
</div>