<div class="container">
    <%- include('partials/NavBar.ejs') %>
        <div class="row justify-center mt-5">
            <div class="col align-self-center">
                <h3 class="text-danger text-center  ">
                    <%= error%>
                </h3>
            </div>
        </div>

</div>