<div class="container">
    <div class="card-group">
        <%let itemFun=(item)=>{
            let image_path = '/'+item.image_path.split('/')[2]+"/"+ item.image_path.split('/')[3]+"/thumbnails";
            let imgLink = `${image_path}/${item.thumbnail.thumbnail_name}`;
            %>

           
            <div class="card">
                <img class="card-img-top" src="<%=imgLink%>" alt="image">
                <div class="card-body">
                    <h5 class="card-title"><%=item.image_original_name%></h5>
                </div>
            </div>

            <% }%>

                <% if(images && images.results){images.results.map(itemFun)}else{%>
                    <h2>No record found</h2>
                <%}%>
    </div>
    <a href='/gallery/add' class="btn btn-info mt-3">Add image</a>
</div>


