
    <h2><%= module_title %></h2>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=title%>
                        </h5>
                <form name="addUserFrm" action="/user/update/<%=results._id%>" method="POST">
                
                    <div class="row">
                        <div class="col form-group">
                            <label for="role" class="col col-form-label">Role Name</label>
                            <div class="col">
                                <select class="form-control" id="role_id" name="role_id">
                                    <option value="">--Select--</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Members</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="col form-group">
                            <label for="email" class="col col-form-label">Email</label>
                            <div class="col">
                                <input type="text" class="form-control" id="email" placeholder="Email ID" name="email" value="<%= results.email%>">
                                
                            </div>
                        </div>
                    </div>
    
    
                    
                    <div class="row">
                        <div class="col form-group">
                            <label for="user_status" class="col col-form-label">Status</label>
                            <div class="col">
                                <select class="form-control" id="user_status" name="user_status">
                                    <option value="">--Select--</option>
                                    <option value="1">Publish</option>
                                    <option value="2">Unpublish</option>
                                   
                                </select>
                            </div>
                        </div>
    
                        <div class="col form-group">
                            <label for="" class="col col-form-label"></label>
                            <div class="col">
                            
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col form-group">
                            <label for="" class="col col-form-label"></label>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
    
                        <div class="col form-group">
                            <label for="" class="col col-form-label"></label>
                            <div class="col">
                            
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

