<h2><%= module_title %></h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <b> Username: </b>
            <%=results.username%>
        </h5>
        <p class="card-text">
            <b>Email:</b>
            <%=results.email%>
        </p>
        <p class="card-text">
            <b>Status:</b>
            <%if(results.user_status ==1){ %>Published<% }else{ %> Unublished<% } %> 
        </p>
    </div>
</div>
    