<h2><%= module_title %></h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <b> Title: </b>
            <%=results.username%>
        </h5>
        <p class="card-text">
            <b>Description:</b>
            <%=results.email%>
        </p>
    </div>
</div>
    