<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>Content</title>
</head>

<body>
    <div class="container">
        <%- include('partials/NavBar.ejs') %>
            <h2  class="text-center mt-3">Content</h2>
            <div class="card bg-light text-dark mt-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <b> Title: </b>
                        <%=content.title%>
                    </h5>
                    <p class="card-text">
                        <b>Description:</b>
                        <%=content.description%>
                    </p>
                </div>
            </div>
    </div>


</body>

</html>